@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.noselect {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow: hidden;
}

#unity-container,
#unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-canvas {
    transition: background 1s ease-in-out;
    background: #231F20;
}

#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar,
#game-logo,
#studios-logo {
    text-align: center;
}

#game-logo img {
    max-height: 50vh;
    width: auto;
}

#studios-logo {
    position: absolute;
    top: 30px;
    left: 25px;
}

#studios-logo img {
    max-width: 100px;
}

#unity-progress-bar-empty {
    width: 40%;
    height: 10px;
    margin: 15px;
    border: 1px solid white;
    padding: 2px;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: black;
}

#version-text,
#percentage-text{
    font-family: "Tektur", sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

#version-text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 20px;
    text-align: left;
}

#percentage-text {
    font-size: 25px;
}

.spinner {
    margin: 10px;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left-color: #ffffff;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    animation: spinner-spin 1.1s infinite linear;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
